@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "LilitaOne";
  src: url(./fonts/Lilita_One/LilitaOne-Regular.ttf);
}

@font-face {
  font-family: "NotoSansSC-Regular";
  src: url(./fonts/Noto_Sans_SC/NotoSansSC-Regular.otf)
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

#root {
  overflow: hidden;
  height: 100%;
}

img {
  height: 100%;
  width: 100%;
}