@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "LilitaOne";
  src: url(./fonts/Lilita_One/LilitaOne-Regular.ttf);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
body{
  border: 1px solid green;
  height: 100vh;
  margin: 0;
  padding: 0;
}

#root {
  overflow: hidden;
  height: 100%;
}

img {
  height: 100%;
  width: 100%;
}

/* .ReviewCard {
  border: 1px solid grey;
} */
