*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}

::-webkit-backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}

.container {
  width: 100%;
}

@media (min-width: 0px) {
  .container {
    max-width: 0px;
  }
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

#root .visible {
  visibility: visible;
}

#root .static {
  position: static;
}

#root .absolute {
  position: absolute;
}

#root .relative {
  position: relative;
}

#root .top-0 {
  top: 0px;
}

#root .bottom-0 {
  bottom: 0px;
}

#root .bottom-3 {
  bottom: 0.75rem;
}

#root .left-0 {
  left: 0px;
}

#root .z-50 {
  z-index: 50;
}

#root .z-10 {
  z-index: 10;
}

#root .col-span-2 {
  grid-column: span 2 / span 2;
}

#root .col-start-2 {
  grid-column-start: 2;
}

#root .row-span-4 {
  grid-row: span 4 / span 4;
}

#root .row-start-6 {
  grid-row-start: 6;
}

#root .m-0 {
  margin: 0px;
}

#root .my-1 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

#root .ml-auto {
  margin-left: auto;
}

#root .ml-\[-5px\] {
  margin-left: -5px;
}

#root .block {
  display: block;
}

#root .inline-block {
  display: inline-block;
}

#root .flex {
  display: flex;
}

#root .inline-flex {
  display: inline-flex;
}

#root .grid {
  display: grid;
}

#root .h-screen {
  height: 100vh;
}

#root .h-full {
  height: 100%;
}

#root .h-10 {
  height: 2.5rem;
}

#root .h-6 {
  height: 1.5rem;
}

#root .h-\[2px\] {
  height: 2px;
}

#root .h-\[1\.5em\] {
  height: 1.5em;
}

#root .max-h-44 {
  max-height: 11rem;
}

#root .w-full {
  width: 100%;
}

#root .w-4\/5 {
  width: 80%;
}

#root .w-\[600px\] {
  width: 600px;
}

#root .w-\[30\%\] {
  width: 30%;
}

#root .w-\[10px\] {
  width: 10px;
}

#root .w-40 {
  width: 10rem;
}

#root .w-\[1\.5em\] {
  width: 1.5em;
}

#root .max-w-xl {
  max-width: 36rem;
}

#root .max-w-\[95vw\] {
  max-width: 95vw;
}

#root .flex-1 {
  flex: 1 1 0%;
}

#root .grow-0 {
  flex-grow: 0;
}

#root .grow {
  flex-grow: 1;
}

#root .transform {
  -webkit-transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
          transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

#root .grid-flow-col {
  grid-auto-flow: column;
}

#root .grid-cols-\[1fr_2fr\] {
  grid-template-columns: 1fr 2fr;
}

#root .grid-rows-6 {
  grid-template-rows: repeat(6, minmax(0, 1fr));
}

#root .flex-col {
  flex-direction: column;
}

#root .items-start {
  align-items: flex-start;
}

#root .items-center {
  align-items: center;
}

#root .justify-center {
  justify-content: center;
}

#root .justify-around {
  justify-content: space-around;
}

#root .justify-items-center {
  justify-items: center;
}

#root .gap-4 {
  gap: 1rem;
}

#root .gap-1 {
  gap: 0.25rem;
}

#root .gap-x-1 {
  -webkit-column-gap: 0.25rem;
          column-gap: 0.25rem;
}

#root .self-start {
  align-self: flex-start;
}

#root .self-end {
  align-self: flex-end;
}

#root .overflow-hidden {
  overflow: hidden;
}

#root .overflow-y-auto {
  overflow-y: auto;
}

#root .text-ellipsis {
  text-overflow: ellipsis;
}

#root .whitespace-nowrap {
  white-space: nowrap;
}

#root .break-all {
  word-break: break-all;
}

#root .rounded-xl {
  border-radius: 0.75rem;
}

#root .rounded-lg {
  border-radius: 0.5rem;
}

#root .border-0 {
  border-width: 0px;
}

#root .border-4 {
  border-width: 4px;
}

#root .border-2 {
  border-width: 2px;
}

#root .border-solid {
  border-style: solid;
}

#root .border-slate-200 {
  --tw-border-opacity: 1;
  border-color: rgb(226 232 240 / var(--tw-border-opacity));
}

#root .border-green-500 {
  --tw-border-opacity: 1;
  border-color: rgb(34 197 94 / var(--tw-border-opacity));
}

#root .border-orange-500 {
  --tw-border-opacity: 1;
  border-color: rgb(249 115 22 / var(--tw-border-opacity));
}

#root .border-rose-500 {
  --tw-border-opacity: 1;
  border-color: rgb(244 63 94 / var(--tw-border-opacity));
}

#root .bg-green-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(34 197 94 / var(--tw-bg-opacity));
}

#root .bg-slate-50 {
  --tw-bg-opacity: 1;
  background-color: rgb(248 250 252 / var(--tw-bg-opacity));
}

#root .bg-slate-200 {
  --tw-bg-opacity: 1;
  background-color: rgb(226 232 240 / var(--tw-bg-opacity));
}

#root .bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

#root .bg-green-400 {
  --tw-bg-opacity: 1;
  background-color: rgb(74 222 128 / var(--tw-bg-opacity));
}

#root .bg-inherit {
  background-color: inherit;
}

#root .p-2 {
  padding: 0.5rem;
}

#root .p-3 {
  padding: 0.75rem;
}

#root .text-center {
  text-align: center;
}

#root .text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}

#root .text-neutral-100 {
  --tw-text-opacity: 1;
  color: rgb(245 245 245 / var(--tw-text-opacity));
}

#root .text-green-500 {
  --tw-text-opacity: 1;
  color: rgb(34 197 94 / var(--tw-text-opacity));
}

#root .text-orange-500 {
  --tw-text-opacity: 1;
  color: rgb(249 115 22 / var(--tw-text-opacity));
}

#root .text-rose-500 {
  --tw-text-opacity: 1;
  color: rgb(244 63 94 / var(--tw-text-opacity));
}

#root .no-underline {
  text-decoration-line: none;
}

#root .shadow-md {
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

#root .shadow-2xl {
  --tw-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  --tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

#root .drop-shadow {
  --tw-drop-shadow: drop-shadow(0 1px 2px rgb(0 0 0 / 0.1)) drop-shadow(0 1px 1px rgb(0 0 0 / 0.06));
  -webkit-filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
          filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

#root .filter {
  -webkit-filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
          filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body{
  border: 1px solid green;
  height: 100vh;
  margin: 0;
  padding: 0;
}

#root {
  overflow: hidden;
  height: 100%;
}

/* .ReviewCard {
  border: 1px solid grey;
} */

#root .hover\:cursor-pointer:hover {
  cursor: pointer;
}

@media (min-width: 0px) {
  #root .xs\:row-start-3 {
    grid-row-start: 3;
  }

  #root .xs\:flex {
    display: flex;
  }

  #root .xs\:grid {
    display: grid;
  }

  #root .xs\:hidden {
    display: none;
  }

  #root .xs\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  #root .xs\:items-center {
    align-items: center;
  }

  #root .xs\:justify-items-center {
    justify-items: center;
  }
}

@media (min-width: 768px) {
  #root .md\:row-start-4 {
    grid-row-start: 4;
  }

  #root .md\:flex {
    display: flex;
  }

  #root .md\:hidden {
    display: none;
  }

  #root .md\:items-center {
    align-items: center;
  }
}
