@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}


.App {
  border: 1px solid green;
}
/* .InputBar {
  border: 1px solid pink;
} */


/* Use Tailwind Group */


.NavBar {
  border: 1px solid green;
}

.NavItem {
  border: 1px solid pink;
}




